.sidebar{
  background-color:#6a6ad6;
  height: 100vh;
  position: fixed;
  width:15%;

}
.logo{
  margin-top: 2rem;
  margin-left: 1.3rem;
}
.menu-options{
    list-style: none;
    text-align:center;
    margin-top:50%;
}

.option{
  text-decoration: none;
}

.logout{
  margin-bottom: 0%;
}